.background-img{
  background-image: url("../../../assets/1.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

/* .fit-background{
  background-color: red;
  height: 100px;
  width: 100px;
} */

.background-img:before{
  content: "";
  width: 45%;
  min-height:87vh;
  position: absolute;
  top:64px;
  right:0;

  background-image: linear-gradient(90deg, rgba(152,145,137,255), black);

  opacity: 1;
}
